<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SYRA - Smart Voice Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <div class="logo">
            <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="SYRA Logo">
        </div>


        <div class="input-box">
        <input type="text" id="text-command" placeholder="Type your command here...">

        <button id="mic-btn">🎤</button>

        <button id="send-btn">➤</button>
    </div>

        <button id="listen-btn">🎤 Speak</button>

        <div id="response">
            Assistant is waiting for your command...
        </div>

    </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>